VITE_API_URL="http://localhost:4000/api"
VITE_SUPABASE_URL="https://xewlimzaswophixqwogi.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_gEDnnWdnBAbokI1-LA_TCg_MR6uPfKT"
NEXT_PUBLIC_SUPABASE_URL="https://xewlimzaswophixqwogi.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_gEDnnWdnBAbokI1-LA_TCg_MR6uPfKT"
